body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20 px;
    background-color: #f0f0f0;
    color: #333;
  }

  .strong {
    font-size: 30px;
    text-align: left 10px;
  }

  #blod {
    font-size: 16px;
    font-weight: 100;
    text-align: right;

  }
  h2{
    padding: 5px;
    border-bottom: #1c97af;
  }

  p {
    margin: 5px;
  }

  #main {
    background-color: #fff;
    margin: 100px;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  header {
    display: flex;
    align-items: center;
  }

  #img {
    right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  header img {
    width: 160px;
    height: 150px;

    border-radius: 50%;
    margin-right: 50px;
  }



  section {
    margin-bottom: px;
  }

  h2 {
    color: #333;
    margin: 0px;
    height: 39px;
    border-radius: 5px;
    background-color: #ddd;
  
    width: fit-content;
    
    


  }



  #professional-summary {
    margin-top: 20px;
    padding-top: 20px;

    height: 25vh;
    width: 100%;



  }


  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1c97af;
    color: white;
  }




  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .body {
    /* float: left; */
    flex-direction: row;
   
    align-items: center;
    justify-content: center;
    /* height: 30vh; */


  }

  .container {
    -moz-columns: 2;
     -webkit-columns:2.5 ;

    width: 350px;
    background: white;
    border-radius: 10px;
    padding: 15px 2px;
  }

  /* .container h2{
    text-align: left;
   
    margin-bottom: 0px;
    border-bottom: #0077b6;
} */

  .container .skill {
    margin-bottom: 18px;
    width: 100%;
    align-items: center;
    position: relative;
  }

  .container .skill h3 {
    display: inline-block;
    margin-bottom: 5px;
  }

  .container .skill h4 {
    float: right;
  }

  .container .skill .skill-bar {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 15px;
    border-radius: 15px;
    background: #48cae4;
  }

  .container .skill .fill-bar {
    position: absolute;
    top: 20px;
    left: 0;
    height: 15px;
    border-radius: 15px;
    background: #0077b6;
  }

  .container .skill .sql {
    animation: sql 2s;
    width: 90%;
  }

  .container .skill .html {
    animation: html 2s;
    width: 80%;
  }

  .container .skill .css {
    animation: css 2s;
    width: 60%;
  }

  .container .skill .javascript {
    animation: javascript 2s;
    width: 55%;
  }

  /* .container .skill .react{
    animation: react 2s;
    width: 35%;
} */

  @keyframes sql {
    from {
      width: 0;
    }

    to {
      width: 90%;
    }
  }

  @keyframes html {
    from {
      width: 0;
    }

    to {
      width: 80%;
    }
  }

  @keyframes css {
    from {
      width: 0;
    }

    to {
      width: 60%;
    }
  }

  @keyframes javascript {
    from {
      width: 0;
    }

    to {
      width: 55%;
    }
  }

 
 #custom {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #custom td,
  #custom th {

    padding: 3px;
  }



  #custom th {
    padding-top: 12px;
    text-align: left;

    color: Black;
  }


  * {
    box-sizing: border-box;
    text-align: left;
  }


  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 150px;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }